<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="data:image/x-icon;base64,AAABAAEAEBAQAAEABAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAB3/wAAAA/wAK3/IA/wAeAAAAOAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAARERERAAAARFEREREERABERQ0Q0EREAERJEREQhEQAiIiREQiIiAAIiJCJCIiAAACIkIkIiAAAAARERERAAAAAFEREVVVAAAFFVERFREQAAUVERFRERAABRUREVERAAAAVVURUQAAAAAiIiIiIgAAACIiIiAAAAAAAiIiIAAADgHwAAAAMAAAADAAAAAwAAAAMAAIAHAADADwAA4B8AAOAHAADAAwAAwAMAAMAHAADgHwAA4AcAAOA/AADwPwAA" rel="icon" type="image/x-icon" />
    <title>15 пример/ Vue JS</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    
    <div id="app">
     
      <ul>
        <li>{{people[0]}}</li>
        <li>{{people[1]}}</li>
        <li>{{people[2]}}</li>
      </ul>

      <ul>
        <li v-for="person in people">{{ person }}</li>
      </ul>

      <ul>
        <li v-for="(person, index) in people">{{ index + 1 }} {{ person }}</li>
      </ul>

      <ul>
        <li v-for="(person, index) in peopleOb">{{ index + 1 }}. {{ person.name }} - <b>{{ person.age }}</b></li>
      </ul>
      <!-- of -->
      <ul>
        <li v-for="(person, index) of peopleOb">{{ index + 1 }}. {{ person.name }} - <b>{{ person.age }}</b></li>
      </ul>

      <hr>

      <ol>
        <li v-for="num of 10"> {{num}} </li>
      </ol>

      
      <ul>
        <li v-for="value of person"> {{value}} </li>
      </ul>

      <ul>
        <li v-for="(value, key, index) of person">{{ index }} {{key}} {{value}} </li>
      </ul> 


<hr>




    </div>

    <script src="https://unpkg.com/vue"></script>
    <script src="main.js"></script>  
</body>
</html>